/*-----------------------------
|       Modelo responsivo     |
-----------------------------*/

@media only screen and (max-width: 480px){

    /* FOOTER */
    .contacto{
        display: flex;
        flex-direction: column;
        margin-bottom: 2px; 
        align-items: center;}

    .contacto h1{
        font-size: small;
    }

    .parte1{
        margin-top: 8px;
    }

    /* FORMULARIO Y TEXTO*/

    .texto .card img{
        width: 300px;
        height: 70px;  
        align-self:center; 
    }

    .texto h5{
        text-align: center;
        font-size: 20px;
    }

    .texto p{
        text-align: justify;
        font-size: 18px;
    }

    .texto .card{
        width: 700px;
        position: relative;
        height: 500px;
        background-color:transparent;
        margin:10px 10px;
        /* padding: 20px 15px; */
        display:flex;
        justify-content: center;
        margin-top:40px;
        /* gap: 20px; */
        border-color: transparent;
        /* align-content: flex-start; */
        align-content:space-around;
    }

    .form button{
        margin-left: 70px;
    }

}

