/*-----------------------------
|       Modelo responsivo     |
-----------------------------*/

@media only screen and (max-width: 480px){

    /* footer */
    .contacto{
        display: flex;
        flex-direction: column;
    margin-bottom: 2px; }

    .contacto h1{
        font-size: small;
    }

    .parte1{
        margin-top: 8px;
    }

    /* FORMULARIO */
}

