/*-----------------------------
|       Modelo responsivo     |
-----------------------------*/

@media only screen and (max-width: 480px){

    /* footer */
    .contacto{
        display: flex;
        flex-direction: column;
    margin-bottom: 2px; }

    .contacto h1{
        font-size: small;
    }

    .parte1{
        margin-top: 8px;
    }

    /* boton formulario */

    .form button {
        background-color: #8bc59b;
        /* padding: 14px 14px;*/
        color: black;
        /* letter-spacing: 2px; */
        width: 120px;
        margin-left: 100px;
    }

    /*formulario*/

}

