  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&family=Public+Sans:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
}
/*---------------------------------------------
||  nav bar
---------------------------------------------*/

nav{
    background-color: #ADDFD3;
}
.d-flex{
    gap: 20px;
}


.btn{
    border-color: transparent;
    color: black;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

.btn:hover{
    background-color: #D6ECDF;
    border: transparent;
    color: black;
}

.logo{
    height: 80px;
    width: 10;
}

.carrito{
    height: 30px;
    width: 30px;
    padding-bottom: 5px;
}

.carrito:hover{
        background-color: #D6ECDF;
        border: transparent;
        border-radius: 50px;
        color: black;
        height: 40px;
        width: 40px;
}

/*---------------------------------------------
||  carrusel
---------------------------------------------*/




/*---------------------------------------------
||  texto de BIENVENIDA
---------------------------------------------*/
.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}


.texto .card{
	width: 700px;
	position: relative;
	height: 500px;
    background-color:transparent;
	margin:10px 10px;
	padding: 20px 15px;
	display:flex;
	flex-direction: column;
	margin-top:60px;
    gap: 20px;
    border-color: transparent;
    align-content: flex-start;
}

#bienvenida{
    background-color:transparent;
    border-color: transparent;
    
}

#redaccion{
    text-align: justify;
}

.texto .card img{
    width: 400px;
    height: 200px;  
    align-self:center; 
}

.texto h5{
    text-align: center;
}


/*---------------------------------------------
||  tarjetas
---------------------------------------------*/

#cardho{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
#cardho:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}

.card-group{
    margin: 40px;
    gap: 20px;
    }
/*---------------------------------------------
||  PRUEBA GRATIS
---------------------------------------------*/
.final{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 50px;
}



.final h1{
    text-align: center;
}
 

.final button {
    background-color: #8bc59b;
    padding: 14px 14px;
    color: black;
    /* letter-spacing: 2px; */
    cursor: pointer;
    border-radius: 20px;
    border: 2px dashed#8bc59b;
    box-shadow: rgba(50, 50, 93, 0.25) 
    0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
}
   
.boton:hover {
transition: .4s;
border: 2px dashed #8bc59b;
background-color: #fff;
border-radius: 10px;
color: #8bc59b;
}

.boton:active {
background-color: #8bc59b;
}


.final h1{
    font-size: 30px;
}



