  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&family=Public+Sans:wght@200&display=swap');


 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
}

div .principal{
    background-color: #EFEEE7
}

body{
    background-color: #ffffff;
}

.header{
    background-color: #ADDFD3;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}


.header .logo img{
    height: 305px;
    width: 350px;
}

.carrito{
    height: 30px;
    width: 30px;
}


.header .btn{
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}


.texto{
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.final{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 50px;
}

.boton button{
    background-color: #D6ECDF;
    border-color: #D6ECDF;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.final h1{
    font-size: 30px;
}